@page "/employees"
@inherits EmployeeOverviewBase
<h3>EmployeeOverview</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>编号</th>
            <th>部门</th>
            <th>姓名</th>
            <th>出生日期</th>
            <th>性别</th>
            <th>操作</th>
        </tr>

    </thead>
    <tbody>
        @foreach(var em in Employees)
        {
            <tr>
                <td>@em.Id</td>
                <td>@em.DepartmentId</td>
                <td>@em.Name</td>
                <td>@em.BirthDate</td>
                <td>@em.Gender</td>
                <td>
                    <a href="/employeedetail/@em.Id">详细</a>
                </td>
            </tr>

        }
    </tbody>
</table>
